
	.header {	
	padding-top:5px;
	opacity: 0.5;
	background: black;
	padding-bottom: 20px;
	position: fixed;
	width: 100%;
	z-index: 999;

	}

	.small {
    height: 70px;
    opacity: 1;
	padding:0;
	}

	.logotipo2 img{
		height: 50px;
		width: 68px;
		margin: 0;
	}

	.headerText {	
	font-family:'Open Sans', sans-serif;
	box-shadow: 1px 1px 4px #000;
	height: 70px;	
	padding-top:0;
	}

	.headerText a:hover{
	color:white;	
	}

	.logotipo{
	display: inline-block;
	margin:5px;
	}

	.circle{
		width:10px;height:10px;border-radius:10px;
		font-size:10px;color:#fff;line-height:50px;
		text-align:center;background:#000;
		
		animation-name: example;
    	animation-duration: 4s;
}
/* Standard syntax */
@keyframes example {
    from {background-color: orange;}
    to {background-color: aquamarine;}
}
	

 
	body{
	background:#ffffff;
	margin: 0;
	/* background: #fffffa; */
	}

.wrapper {	
width: 100%;
max-width:1000px;
margin: auto;
overflow:hidden;
margin-top: 20px;
}

.footer{	
background:#F5F5F5;
padding-bottom:20px;

}


.footer .wrapper{
	padding-top: 30px;
	display: flex;
	justify-content: space-between;

}

.footer img
{
	padding-top: 20px;
	display: flex;
	justify-content: space-between;

}

.footerVacio{
background-color: grey;
width: 100%;
height: 100px;
background:#e6e6e6;
}

.preFooter a:hover{
color:#1ab2ff;
transition: .7s;
}

.preFooter {
	font-family: 'Heebo', sans-serif;
}


.preFooter p{
float:right;

}
.preFooter h3{
	display: inline-block;
	font-size: 30px;
	color:#d9d9d9;
	margin:0
}

.preFooter h2{
	font-size: 40px;
	color:#d9d9d9;	
	margin:0;
	}
.preFooter h3 a{
	color:#9E9E9E;
}


.menu {
	font-size: 20px;
	display: inline-block;
	padding-left: 15%;
	color:grey;

}



.menu li {
	margin-left: 10px;
	display: inline-block;
	padding: 7px 15px 7px 15px;
	text-decoration:none;
}


  .portada { 
	background-image: url('../Images/background.jpg'); 
	color: white; 
	padding-bottom:270px; 
	box-shadow: 1px 1px 2px #000;
	
   	background-attachment: fixed;
   	background-position: center;
   	background-repeat: no-repeat;
   	background-size: cover;
	} 

		

.portadaText{

	padding-top: 270px; 
	padding-bottom: 10px;
 	padding-left:30%;
	font-family:'Open Sans';

}

.column label {
	 padding-right: 95%;

}

.portada button{

border-radius: 5px;
border:none;
background: #fd324e;
color: white;
padding: 6px;
cursor:pointer;
text-decoration: none;
font-size: 16px;
background: linear-gradient{to left, #fe344e,#ff7250};

}


.titulo{
	
	font-size: 70px;
	margin-top: 0;
	margin-bottom: 30px ;
	line-height: 20px;
	
	
}




.title-a, .title-b{	
		font-size: 20px;
		margin-bottom: 15px;
		overflow:hidden;
}
	
.frase{	
		
	
		text-align: center;
		margin-top: 50px;
			
}
	

.Seccionfrase{	
	
	background-color:#F5F5F5;
   	
}


	.p1 {
	margin-left: 20%;
	width: 33.3%;
    padding: 8px;
	}

	.p1 img{
	  opacity: 1;
	  display: block;
	  height: auto;
	  transition: .5s ease;	
	  backface-visibility: hidden;
	}

	.p1:hover{
		 opacity: 0.3;
	}
	
	


.equipo img
 {
	display: flex;
	justify-content: space-between;

	
	margin-left: auto;
	margin-right: auto;

 	max-width: 100%;
	height: auto;
	margin-top: 50px;

}

.tecnologias img
 {
	display: flex;
	justify-content: space-between;
	float:left;
	margin-left: 10%;
	margin-right: 10%;
 	max-width: 100%;
    height: auto;

}
p{
	font-size: 25px;
}

 h2{
 	font-family: "Segoe UI",Arial,sans-serif;font-size: 60px;
 	color:black;
	padding-top: 10px;
	font-weight: 400;

}

a{
	font-family: "Segoe UI",Arial,sans-serif;

   padding-top: 10px;
   font-weight: 400;	
}


 h4{
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 400;
	 margin-top:0;
	 font-size: 14px;
}


.Act{
		width: 100%;
		padding: 8px;
	display: flex;
	justify-content: space-between;
	float:left;
	
 
	
}

.Act1 a:hover{
	cursor:pointer;
}

.Act1 h3{
	font-size: 16px;
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 600;
}

.Act2 img{
	display: block;
    margin-left: auto;
    margin-right: auto;

}


.contacto{

flex-wrap: wrap;
}

.contacto img{
	display:block;
}

.contacto strong{
	display: block;	
	margin-top: 10%;
	color:black;
}
.contacto span{
	color: black;
}

.contacto a {
font-family: "Roboto Slab";
color:grey;

margin:  10px 10px 10px 0px;
}
.contacto a:hover{
color:black;
}

.contacto span:hover{
color:#1ab2ff;
transition: .7s;
}

.col1,.col2{
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	
}

.formulario{
	
	margin:0 auto;
	width: 60%;
	color:black;
}

.formulario label, .sexo, .intereses{
	margin-bottom: 10px;
	margin-top: 5px;
}
 
*{
    box-sizing: border-box;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px; 
    margin-bottom: 100px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
   /* box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
*/}

.price .header2 {
    background-color: #111;
    color: white;
    font-size: 25px;

}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #424242;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}



@media only screen and (min-width: 800px) and (max-width: 1024px) {
  h1 { font-size: 50px;}
		h2 { font-size: 28px;}
		h3 { font-size: 28px;}
		a  { font-size: 13px;}
		p  { font-size: 15px;}

.menu a{
 font-size: 17px;
 padding-left: 0px;
 padding-right: 0px;
 margin: 0;
 }

.menu{
padding:0;
padding-left: 10%;
}

.menu li{
margin: 0;
padding-top: 0;
}
.logotipo{
	margin: 0;
	padding: 0;
} 

.portada{
	
}
}




@media screen and (max-width: 800px) {
		h1 { font-size: 50px;}
		h2 { font-size: 40px;}
		h3 { font-size: 20px;}
		a  { font-size: 14px;}
		p  { font-size: 18px;}
		li  { font-size: 16px;}
		

	.header{
   	width:100%;/*The width is 100%, when the viewport is 800px or smaller*/
 	background: black;
	padding-bottom: 320px;
	opacity: 1;
	text-align:left;
	position: absolute;
	}	

	.p1{
	margin-left: 1%;
	width: 100%;
	padding: 20px;
	}

	.menu {
    width:100%;
    text-align: center;
	overflow: hidden;
	padding-left: 0;
	padding-right: 10%;	
 	}

  	.menu li{
  	text-align: center;
  	width: 100%;
  	margin:0;
  	margin-bottom: 20px;
  	}

  	.menu a{
  	font-size: 25px;
  	}	

	.portada { 
	padding-bottom:380px;
	box-shadow: 1px 1px 2px #000;
	background: black;
	}

	.logotipo img{
	width: 8%;
	height: 15%;
	}
	.tecnologias img{
	width: 20%;
	}

	.portadaText{
	padding:0;
	color: transparent;
  	background: black;
   	opacity: 1;

	}

	.portada button{
	background: transparent;
	color: transparent;
	}

 	.columns {
    width: 100%;

    }
    .footer{
	width:100%;

    }
	.preFooter h2{
		font-size: 20px;
	}


	.tecnologias{

	display: block;
    margin-left: auto;
    margin-right: auto;
    
	}
	



	.Act1 a{
		font-size: 	16px;
		font-weight: 600px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 10%;
		margin-bottom: 10px;
		
	}	

	.Act{
		display: block;
		padding:0;
		float:center;
	}

	

  	}


.container {
  background-color: white;
  padding: 26px;
  
}

.container h2{
	margin-top:10px;
	margin-bottom: 5px;
	
}

.container::after{
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}
	
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    opacity:0.2; 
    background-color: #555;
}

#myBtn:hover {
     background-color: red; /* Set a background color */
    }
 


 * {box-sizing: border-box;}

.mySlides {display: none;}

/* Slideshow container */
.slideshow-container {
  	max-width: 56%;
  	position: relative;
 	margin: auto;
	display: flex;
	flex-direction: column;
	background-color: transparent;

}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;

}

.next {
  right: 0;
}


/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}


.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	
  }
  
  .fa:hover {
	  opacity: 0.7;
  }
  
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  .fa-twitter {
	background: #55ACEE;
	color: white;
  }
  
  .fa-google {
	background: #dd4b39;
	color: white;
  }
  
  .fa-linkedin {
	background: #007bb5;
	color: white;
  }
  
